<% content_for :head do %>
  <%= stylesheet_link_tag 'styles_delivery', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<section>
  <div class="cart">  
    <div class="cart-headline">
          <p>Корзина</p>
    </div>
  
    <div class="cart-content">
        <p>В вашей корзине нет товаров.</p>
    </div>

    <div class="cart-footer">
        <button>Перейти к меню</button>
    </div>
  </div>
</section>

<section>
  <div class="delivery">

    <div class="delivery-headline">
      <p>Доставка</p>
    </div>

    <div class="delivery-content">
      <h1>Чтобы оформить Ваш заказ, заполните форму</h1>

      <div class="delivery-content-form">
        <form>
          <p>Имя: *</p>
          <input type="text" name="name" />
          <p>Контактный телефон: *</p>
          <input type="number" name="phonenumber" />
          <p>Время получения заказа: *</p>
          <div class="hrsmins">
              <input id="hrs" type="number" name="hrs" placeholder="Часы">
              <input id="mins" type="number" name="mins" placeholder="Минуты">
          </div>
        </form>
        <div class="delivery-content-form-minsk">
          <form>
            <h1>Адрес доставки в Минске</h1>
            <p>Улица: *</p>
            <input type="text" name="street" />
            <div class="delivery-content-form-minsk-homeaddress">
              <div>
                <p>Номер дома: *</p>
                <input type="number" name="homenumber" />
              </div>
              <div class="l">
                <p>Номер корпуса:</p>
                <input type="number" name="housing" />
              </div>
              <div class="l">
                <p>Номер квартиры:</p>
                <input type="number" name="flatnumber" />
              </div>
            </div>
            <h2 class="delivery-content-form-minsk-homeaddress-note">Примечание (подъезд, этаж, доп. номер телефона):</h2>
            <textarea rows="10" cols="30" name="note" style="padding: 10px; margin-top: 10px"></textarea>
            <input type="submit" name="ordersubmit" value="Подтвердить заказ">
          </form>
        </div>    
      </div>
    </div>
  </div>
</section>