<section>
       
  <div class="menu-headline">
      <p>Попробуйте неповторимый вкус пиццы на дровах!</p>
  </div>

  <div class="line"></div>

  <div class="pizzas">
    <div class="pizza_row">
      <%= render 'pizza_1' %>  
    </div>
  </div>

  <div class="linetwo"></div>

  <div class="pizzas">
    <div class="pizza_row">
      <%= render 'pizza_2' %>
    </div>
  </div>

  <div class="line"></div>

  <div class="pizzas">
    <div class="pizza_row">
      <%= render 'pizza_3' %>
    </div>
  </div>

  <div class="linetwo"></div>

  <div class="pizzas">
    <div class="pizza_row_two">
      <%= render 'pizza_4' %>
    </div>
  </div>

  <div class="lineshort"></div>
</section>