* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.active {
    border-bottom: 4px solid orange !important;
    border-radius: 3px;
}
.content {
    width: 85%;
    border-left: 10px solid black;
    border-right: 10px solid black;
    margin: 0 auto;
}
.header {
    position: relative;
    top: 25px;
}
.header_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_nav_logo {
    width: 20%;
}
.header_nav_logo_container {
    width: 100%;
}
.header_nav_links_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_nav_link {
    margin: 0 15px 0 15px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    border-radius: 3px;
    padding-bottom: 6px;
    transition: 0.5s;
}
.header_nav_link:hover {
    border-bottom: 4px solid #5B5B5B;
    transition: 0.5s;
}
.header_delivery_container {
    width: 220px;
    height: 50px;
    background-color: #5B5B5B;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header_delivery_container p {
    transition: 0.5s;
    border-bottom: 3px solid transparent;
}
.header_delivery_container p:hover {
    border-bottom: 3px solid white;
    border-radius: 2px;
    transition: 0.5s;
}
.menu-headline {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
}
.menu-headline p {
    font-family: 'Prata', serif;
    font-size: 36px;
}
@media screen and (max-width: 1120px) {
    .menu-headline p {
        font-size: 24px;
    }
}
@media screen and (max-width: 810px) {
    .menu-headline p {
        font-size: calc(8px + 16 * (100vw / 1920));
    }
}

/* Hide nav menu */

@media screen and (max-width: 850px) {
    .header_nav_links {
        display: none;
    }
    .header_nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

/* Hide burger-menu */
@media screen and (min-width: 851px) {
    .burger-menu {
        display: none;
    }
}

/* Smaller cart */
@media screen and (max-width: 560px) {
    .header_delivery_container{
        width: 120px;
        height: 36px;
    }
    .header_delivery_container p {
        font-size: calc(7px + 16 * (100vw / 1920));
    }
    .header_delivery_container svg {
       height: 24px;
       width: 24px;
    }
    .burger-menu {
        width: 18px;
        height: 18px;
        margin-bottom: 18px;
    }
}
@media screen and (max-width: 300px) {
    .header_delivery_container{
        width: 90px;
    }
}
.line {
    width: 85%;
    height: 10px;
    border-radius: 0 15px 0 15px;
    background-color: black;
    margin: 30px auto 0 auto;
}
.linetwo {
    width: 85%;
    height: 10px;
    border-radius: 15px 0 15px 0;
    background-color: black;
    margin: 30px auto 0 auto;
}
.lineshort {
    width: 60%;
    height: 10px;
    border-radius: 0 15px 0 15px;
    background-color: black;
    margin: 30px auto 0 auto;
}
.pizzas {
    margin-top: 60px;
}

.pizza_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pizza_row_two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}
.pizza_row_item {
    width: 25%;
    margin-left: 30px;
    margin-right: 30px;

}
/* pizza row text */
.pizza_row_item_sub {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90px;
    border-radius: 0 0 120px 40px;
    width: 100%;
    position: relative;
    bottom: 37px;
}
.pizza_row_item_sub h1 {
    font-size: calc(9px + 16 * (100vw / 1920));
    text-align: center;
}
.pizza_row_item_sub p {
    color: #5B5B5B;
    font-size: calc(7px + 16 * (100vw / 1920));
}

.fourcheeses:hover > .pizza_row_item_hovered_fourcheeses {
    display: block;
}
.primavera:hover > .pizza_row_item_hovered_primavera {
    display: block;
}
.pepperoni:hover > .pizza_row_item_hovered_pepperoni {
    display: block;
}
.chicken:hover > .pizza_row_item_hovered_chicken {
    display: block;
}
.vetchina:hover > .pizza_row_item_hovered_vetchina {
    display: block;
}
.barbekyu:hover > .pizza_row_item_hovered_barbekyu {
    display: block;
}
.bavarian:hover > .pizza_row_item_hovered_bavarian {
    display: block;
}
.fire:hover > .pizza_row_item_hovered_fire {
    display: block;
}
.meaty:hover > .pizza_row_item_hovered_meaty {
    display: block;
}
.montanara:hover > .pizza_row_item_hovered_montanara {
    display: block;
}
.margarita:hover > .pizza_row_item_hovered_margarita {
    display: block;
}

.vetchina, .barbekyu, .chicken, .pepperoni, .primavera, .fourcheeses, .bavarian, .fire, .meaty, .montanara, .margarita {
    position: relative;
}
.pizza_row_item_hovered_vetchina, .pizza_row_item_hovered_barbekyu, .pizza_row_item_hovered_chicken, .pizza_row_item_hovered_pepperoni, 
.pizza_row_item_hovered_primavera, .pizza_row_item_hovered_fourcheeses, .pizza_row_item_hovered_bavarian, .pizza_row_item_hovered_fire,
.pizza_row_item_hovered_meaty, .pizza_row_item_hovered_montanara, .pizza_row_item_hovered_margarita {
    color: white;
    width: 110%;
    height: 110%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
    border-radius: 10px;
}
.photo_exp {
    filter: saturate(140%) contrast(110%);
    border-radius: 10px;
    width: 100%;
}
.pizza_row_item_hovered_content {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.pizza_row_item_hovered_content h1 {
    font-size: calc(13px + 16 * (100vw / 1920));
    margin-top: 5px;
}
.pizza_row_item_hovered_content p {
    font-size: calc(2px + 16 * (100vw / 1920));
    color: #7a7979;
    margin-top: 15px;
}
.pizza_row_item_hovered_content h3 {
    font-size: calc(6px + 16 * (100vw / 1920));
    color: white;
    margin-top: 15px;
}
.pizza_row_item_hovered_content input {
    font-size: calc(6px + 16 * (100vw / 1920));
    background-color: orange;
    width: 60%;
    margin: 15px auto 10px auto;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    margin-top: 50px;
    padding-bottom: 40px;
}
.footer_icons {
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    margin: 30px auto 0 auto;
}
.footer_icons svg {
    border-bottom: 3px solid transparent;
    transition: 0.5s;
    padding-bottom: 5px;
}
.footer_icons svg:hover {
    border-bottom: 3px solid white;
    transition: 0.5s;
    border-radius: 3px;
}
.footer_payment {
  width: 70%;
  margin: 30px auto 0 auto;
}
.footer_payment figure img{
  width: 100%;
}
@media screen and (max-width: 1350px) {
    .footer_icons {
        width: 20%;
    }
}
@media screen and (max-width: 850px) {
    .footer_icons {
        width: 30%;
    }
}
@media screen and (max-width: 502px) {
    .footer_icons {
        width: 40%;
    }
}
/* burger-menu opened */
.burger_menu_opened {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: none;
}
.opened {
    display: block;
    position: fixed;
    z-index: 2;
}
.menu_close {
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    width: 36px;
}
.burger_menu_content {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.burger_menu_content h1 {
    font-family: 'Playfair Display', serif;
    margin: 10px auto 10px auto;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
    transition: 0.5s;
}
.burger_menu_content h1:hover {
    border-bottom: 3px solid #5B5B5B;
    border-radius: 3px;
} 
.burger_menu_active {
    border-bottom: 3px solid orange !important;
    border-radius: 3px;
}
@media screen and (max-width: 788px) {
    .pizza_row_item {
        width: 30%;
        margin-left: 10px;
        margin-right: 10px;   
        margin-top: 0;
        margin-bottom: 0;
    }
    .pizza_row_item_sub {
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 70px;
        border-radius: 0 0 10px 10px;
        width: 100%;
        position: relative;
        bottom: 37px;
        z-index: -1;
        top: -16px;
    }
    .line, .linetwo {
        margin-top: 20px;
    }
}
@media screen and (max-width: 400px) {
 .pizza_row_item_sub {
        z-index: -1;
        top: -10px;
    } 
    .pizza_row_item_sub {
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 80px;
        border-radius: 0 0 10px 10px;
        width: 100%;
        position: relative;
        bottom: 37px;
        z-index: -1;
        top: -14px;
    }
    .pizza_row_item_sub h1 {
        margin-top: 9px;
    }
    .pizzas {
        margin-top: 30px;
    }
    .pizza_row_item_hovered_vetchina, .pizza_row_item_hovered_barbekyu, .pizza_row_item_hovered_chicken, .pizza_row_item_hovered_pepperoni, 
.pizza_row_item_hovered_primavera, .pizza_row_item_hovered_fourcheeses, .pizza_row_item_hovered_bavarian, .pizza_row_item_hovered_fire,
.pizza_row_item_hovered_meaty, .pizza_row_item_hovered_montanara, .pizza_row_item_hovered_margarita {
    color: white;
    width: 140%;
    height: 110%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
    border-radius: 10px;
}
.pizza_row_item_hovered_content p {
    font-size: calc(6px + 16 * (100vw / 1920));
    color: #7a7979;
    margin-top: 15px;
 }
}
.image {
    width: 100%;
}
.image_logo {
    width: 100%;
    height: 5%;
}
